body {
  background-color: #F5EDED;
}
h1 {
  color: #24426d;
  font-family: 'Trebuchet MS', 'sans-serif';
  font-size: 250%;
  font-style: italic;
}
h2 {
  color: #24426d;
  font-family: 'Trebuchet MS', 'sans-serif';
  font-size: 150%;
}
p {
  color: #7995b1;
  font-family: 'Trebuchet MS', 'sans-serif';
  font-size: 100%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

img:hover {
  box-shadow: 0 0 4px 5px rgba(0, 140, 186, 0.5);
}

