body {
  background-color: #F5EDED;
}
h1 {
  color: #24426d;
  font-family: 'Trebuchet MS', 'sans-serif';
  font-size: 250%;
}
h2 {
  color: #24426d;
  font-family: 'Trebuchet MS', 'sans-serif';
  font-size: 150%;
}
p {
  color: #7995b1;
  font-family: 'Trebuchet MS', 'sans-serif';
  font-size: 100%;
}