body {
  background-color: #FAFAFA;
}
h1 {
  color: #24426d;
  font-family: 'Trebuchet MS', 'sans-serif';
  font-size: 250%;
  font-style: bold;
}

h2 {
  color: #24426d;
  font-family: 'Trebuchet MS', 'sans-serif';
  font-size: 150%;
}

p {
  color: #7995b1;
  font-family: 'Trebuchet MS', 'sans-serif';
  font-size: 100%;
}

.center {
  text-align: center;
  border: 3px solid rgb(0, 32, 69);
  border-style: double;
}

.index {
  text-align: center;
  border: 3px solid rgb(0, 32, 69);
  border-style: double;
}


.image1{
  object-fit: cover;
}

.image1:hover {
  box-shadow: 0 0 4px 5px rgba(255, 180, 251, 0.5);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

img:hover {
  box-shadow: 0 0 4px 5px rgba(0, 140, 186, 0.5);
}

a:link {
  color: #24426d;
  font-family: 'Trebuchet MS', 'sans-serif';
}

a:visited {
  color: #24426d;
  font-family: 'Trebuchet MS', 'sans-serif';
}



.button {
  background-color: #C2CFD8;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: overline;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
